/* Style the header */
body {
  margin: 0;
}

.header {
  margin-top: 20px;
  padding: 0px;
  color: black;
}

.header img {
  margin-top: 20px;
  margin-left: 60px;
}

/* Page content */
.content {
  padding: 20px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .columns {
  padding-top: 102px;
}

.main {
  margin-right: 60px;
  margin-left: 60px;
}

li {
  list-style-type: none;
  float: right;
  font-size: 18px;
  height: 25px;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px 30px;
  padding-top: 40px;
  text-decoration: none;
}

li > a:hover {
  display: inline-block;
  border-bottom: 2px solid yellow;
}

.menu {
  position: absolute;
  width: 67px;
  height: 48px;
  left: 1152px;
  bottom: 1907px;

  font-family: Agenda;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

#name {
  margin-top: 60px;
  font-family: Agenda;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 47px;

  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px 27px;
}

.columns {
  column-count: 2;
  margin-top: 30px;
}

.columns figure {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure:hover .overlay {
  opacity: 1;
}

.nameofwork {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.columns figure img {
  width: 100%;
}
