/* Style the header */
body {
  margin: 0;
}

.header {
  padding: 0px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.header img {
  margin-top: 20px;
  margin-left: 60px;
}

/* Page content */
.content {
  margin-top: 100px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .columns {
  padding-top: 102px;
}

.main {
  margin-right: 60px;
  margin-left: 60px;
}

li {
  list-style-type: none;
  float: right;
  font-size: 18px;
  height: 25px;
  font-family: "Montserrat", sans-serif;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px 30px;
  padding-top: 40px;
  text-decoration: none;
}

li > a:hover {
  display: inline-block;
  border-bottom: 2px solid #ffb70d;
}

.menu {
  position: absolute;
  width: 67px;
  height: 48px;
  left: 1152px;
  bottom: 1907px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

#name {
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 47px;
  text-decoration: underline #ffb70d;

  text-align: center;
}
#profile-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: calc(50% - 191.04px);
}

#profile {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 35px;
  margin: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px 27px;
}

.columns {
  columns: 2;
  margin-bottom: 60px;
}

.columns figure {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure:hover .overlay {
  opacity: 1;
}

.nameofwork {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.columns figure img {
  width: 100%;
}

#flip-page {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 100px;
}

#seemore {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-family: "Montserrat", sans-serif;
}
.art-list {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.des-date {
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
}

.work-list > img {
  margin-bottom: 30px;
}
